.containers {
  padding-top: 1.5rem;
  min-height: clamp(7rem, 5vw + 6rem, 15rem);
}

.fade-enter {
  opacity: 0; /* Initial state for entering */
}

.fade-enter-active {
  opacity: 1; /* Final state for entering */
  transition: opacity 2000ms ease-in; /* Duration for entering */
}

.fade-exit {
  opacity: 1; /* Initial state for exiting */
}

.fade-exit-active {
  opacity: 0; /* Final state for exiting */
  transition: opacity 2000ms ease-out; /* Duration for exiting */
}

.text {
  font-size: clamp(1rem, 2.5vw, 3rem); /* Use clamp for responsive sizing */
  font-weight: 800; /* Font weight */

  background: linear-gradient(
    to bottom right,
    #04bdc0 0%,
    #b3feff 100%
  ); /* Gradient background */
  -webkit-background-clip: text; /* Clipping background to text */
  -webkit-text-fill-color: transparent; /* Fill color for the text */
}
