.containers {
  padding-top: 1.5rem;
  min-height: 7rem; /* Default for smallest screens */
}

@media (min-width: 576px) {
  /* Small screens */
  .containers {
    min-height: 9rem;
  }
}

@media (min-width: 768px) {
  /* Medium screens */
  .containers {
    min-height: 11rem;
  }
}

@media (min-width: 992px) {
  /* Large screens */
  .containers {
    min-height: 12rem;
  }
}

@media (min-width: 1200px) {
  /* Extra large screens */
  .containers {
    min-height: 14rem;
  }
}

.fade-enter {
  opacity: 0; /* Initial state for entering */
}

.fade-enter-active {
  opacity: 1; /* Final state for entering */
  transition: opacity 2000ms ease-in; /* Duration for entering */
}

.fade-exit {
  opacity: 1; /* Initial state for exiting */
}

.fade-exit-active {
  opacity: 0; /* Final state for exiting */
  transition: opacity 2000ms ease-out; /* Duration for exiting */
}

.text {
  font-size: 3vw; /* Font size for the text */
  font-weight: 800; /* Font weight */

  background: linear-gradient(
    to bottom right,
    #04bdc0 0%,
    #b3feff 100%
  ); /* Gradient background */
  -webkit-background-clip: text; /* Clipping background to text */
  -webkit-text-fill-color: transparent; /* Fill color for the text */
}
