.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

@media (max-width: 768px) {
  /* For tablets and smaller screens */
  .container {
    margin: 3rem 0;
  }
}

@media (max-width: 576px) {
  /* For mobile screens */
  .container {
    margin: 1.5rem 0;
  }
}
