.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: clamp(3rem, 6vw + 2rem, 13rem) 0;
}
