.footer {
  background: rgb(21, 101, 103);
  background: linear-gradient(
    108deg,
    rgba(21, 101, 103, 1) 0%,
    rgba(95, 131, 111, 1) 16%,
    rgba(218, 180, 124, 1) 100%
  );
  width: 100%;
  height: clamp(12rem, 10vw + 8rem, 15rem);
  display: flex;
  justify-content: center;
  align-items: top;
  color: white;
  margin-top: auto;
  font-family: var(--font-inter);
}

.column {
  flex: 1;
  margin: clamp(1rem, 2vw, 2rem);
}

.column h3 {
  margin-bottom: clamp(0.5rem, 1vw, 0.8rem);
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1rem);
  font-weight: 600;
}

.column p {
  margin: clamp(0.3rem, 0.5vw, 0.5rem) 0;
  font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.7rem);
  font-weight: lighter;
}
