.navbar {
  background-color: rgba(54, 54, 54, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.063);
  width: 80%;
  height: clamp(3rem, 4vw, 5rem);
  padding: clamp(1.2rem, 2vw, 4rem);
  margin-top: clamp(3rem, 5vw + 3rem, 15rem);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-radius: clamp(20rem, 25vw, 30rem);
}

@media (min-width: 1440px) {
  .navbar {
    height: 1rem;
    padding: 2.5rem;
    width: 70%;
  }
}

.navcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
}

.NavLink {
  color: white;
  text-decoration: none;
  margin: 0 clamp(1rem, 2vw + 1rem, 3rem);
  font-family: var(--font-inter);
  font-weight: 800;
  font-size: clamp(0.7rem, 1vw, 2rem);
  display: block;
  white-space: nowrap;
  transition: color 0.3s;
}

.NavLink:hover {
  color: #ffcc00;
}

.DataLink {
  color: white;
  text-decoration: none;
  margin: 0 clamp(1rem, 2vw + 1rem, 3rem);
  font-family: var(--font-inter);
  font-weight: 800;
  font-size: clamp(0.7rem, 1vw, 2rem);
  display: block;
  white-space: nowrap;
  transition: color 0.3s;
}

.DataLink:hover {
  color: rgb(50, 200, 200);
}

.NavLinkContainer {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the linksContainer to the right */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

.smubia {
  display: flex;
  color: white; /* Ensure the brand text is white */
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: large;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  padding: 0;
}

.line {
  background-color: white;
  height: 4px;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s;
}

.rotate1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.rotate2 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hide {
  opacity: 0;
}

.linksContainer {
  display: flex; /* Default for larger screens */
  /* gap: 2rem; */
}

.customDropdownMenu {
  background-color: rgba(54, 54, 54, 0.8);
}
