.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px; /* Increase height to fit three images comfortably */
  overflow: hidden; /* Hide scrollbar */
  position: relative;
}

.image {
  width: 80%;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: perspective(1500px) rotateX(10deg) rotateY(5deg) rotateZ(-5deg);
  margin: -2rem 0;
  opacity: 0.8;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Hover effect */
.image:hover {
  transform: perspective(1500px) rotateX(5deg) rotateY(3deg) rotateZ(-3deg)
    translateZ(20px) scale(1.03);
  opacity: 1;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Optional: Smooth return animation */
.image:not(:hover) {
  transform: perspective(1500px) rotateX(10deg) rotateY(5deg) rotateZ(-5deg)
    translateZ(0) scale(1);
}

.currentImage {
  z-index: 3;
  transform: scale(1.2) rotateX(45deg) rotateY(25deg) rotateZ(-30deg); /* Ensure orientation is preserved */
  opacity: 1;
}

.hiddenImage {
  z-index: 1;
  transform: scale(0.9) rotateX(45deg) rotateY(25deg) rotateZ(-30deg);
  opacity: 0.7;
}

.timelineContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: black;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 700px; /* Adjust height as needed */
}

.eventDetailContainer {
  flex: 1;
  padding: 20px;
  position: relative;
}
