.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.whowearecontainer {
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
  justify-content: center;
  align-items: center;
  margin: 20vh 10vw; /* Default margin */
  font-family: var(--font-roboto-mono);
  font-style: normal;
  color: white;
  z-index: 1;
  position: relative;
}

/* Adjust margin for larger screens */
@media (min-width: 1200px) {
  .whowearecontainer {
    margin: 15vh 10vw;
  }
}

/* Adjust margin for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .whowearecontainer {
    margin: 18vh 10vw;
  }
}

/* Adjust margin for small screens */
@media (max-width: 767px) {
  .whowearecontainer {
    margin: 10vh 10vw;
  }
}

.cardcontainer {
  justify-content: center;
  align-items: center;
  text-align: center; /* Ensure the text is centered */
  display: block;
}

.tagline {
  font-size: 6.1vw; /* Responsive font size */
  font-weight: bold;
}

.taglinetext {
  font-size: 2rem; /* Use rem for responsive sizing */
  font-weight: light;
}

.text {
  font-size: 1.25rem; /* Use rem for responsive sizing */
  font-family: var(--font-inter);
  font-weight: 100;
}

.maintext {
  justify-self: center;
  text-align: center;
  font-size: 3rem; /* Use rem or vw for responsive sizing */
  font-weight: bold;
}

.longtext {
  justify-self: center;
  text-align: left;
  font-size: 1.75rem; /* Use rem for responsive sizing */
  font-weight: bold;
}

.missiontext {
  padding-top: 1rem;
  justify-self: center;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem; /* Use rem for responsive sizing */
  background: linear-gradient(to bottom right, #dab47c 0%, #ffd392 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.joinustext {
  justify-self: center;
  text-align: center;
  font-size: 3rem; /* Use rem or vw for responsive sizing */
  font-weight: bold;
  background: linear-gradient(to right, #04bdc0 0%, #ffd392 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reachtext {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-self: center;
  font-weight: 800;
  font-size: 1.75rem; /* Use rem for responsive sizing */
  background: linear-gradient(to bottom right, #156567 0%, #29cacd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breakline {
  display: block;
}

.button {
  background-color: white;
  color: black;
  padding: 1vw; /* Use rem for padding */
  border-radius: 30px;
  font-size: 2vw; /* Use rem for responsive sizing */
  max-height: 5vw;
  max-width: 20vw;
  font-weight: 800;
  margin: 1.25vw; /* Use rem for margins */
}

.image1 {
  position: absolute;
  border-radius: 20px;
  width: 50%;
  transform: perspective(1000px) rotateX(15deg) rotateY(-12deg) rotateZ(5deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  opacity: 0.8;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.reachContainer {
  margin-top: 1rem;
  margin-bottom: 7rem;
  position: relative; /* Needed for absolute positioning of the expanded text */
  cursor: pointer; /* Change cursor to indicate interaction */
}

.hoverText {
  font-size: 2vw; /* Size of the initial text */
  color: #ffffff; /* Change color as needed */
  transition: color 0.3s; /* Transition for color change */
  background-color: rgba(93, 164, 169, 0.7);
  padding: 10px;
  border-radius: 10px;
}

.expandedText {
  width: 50vw;
  font-size: 2vw;
  opacity: 0; /* Hide the expanded text initially */
  visibility: hidden; /* Prevent interaction when hidden */
  position: absolute; /* Position the expanded text over the hover text */
  background-color: rgba(
    50,
    234,
    255,
    0.7
  ); /* Background color for visibility */
  margin-top: 10px;
  padding: 10px; /* Padding for the expanded text */
  border-radius: 5px; /* Rounded corners for the expanded text */
  z-index: 10; /* Ensure it appears above other content */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position for perfect centering */
}

.reachContainer:hover .expandedText {
  opacity: 1; /* Show the expanded text on hover */
  visibility: visible; /* Make it visible */
}

.reachContainer:hover .hoverText {
  color: #00bfff; /* Change color on hover */
}

/* Media Queries for Further Responsiveness */
@media (max-width: 768px) {
  .tagline {
    font-size: 8vw; /* Make tagline larger on smaller screens */
  }

  .button {
    width: 100%; /* Make button full width */
  }

  .maintext {
    font-size: 5vw; /* Adjust main text for smaller screens */
  }

  .longtext {
    font-size: 4vw; /* Adjust long text for smaller screens */
  }

  .missiontext,
  .joinustext,
  .reachtext {
    font-size: 4vw; /* Make mission text and join us text responsive */
  }

  .text {
    font-size: 1rem; /* Use rem for responsive sizing */
    font-family: var(--font-inter);
    font-weight: 100;
  }
}

.responsivewidth {
  width: 75%; /* Default for larger screens */
  line-height: 1;
}

@media (max-width: 640px) {
  .responsivewidth {
    width: 100%; /* Full width on small screens */
  }
}

.taglinecontainer {
  margin-bottom: 30vw;
}

/* GIF background */
.backgroundContainer {
  position: fixed; /* Fix the position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100vw; /* Cover full viewport width */
  height: 100vh; /* Cover full viewport height */
  z-index: -1; /* Ensure it’s behind other content */
  overflow: hidden; /* Prevent overflow */
}
