.page-container {
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-inter);
}

/* Section 1: Cat image and Text */
.section1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px; /* Add space below the navbar */
  z-index: 1; /* Keep it above background */
  font-family: var(--font-inter);
}

/* Responsive styling for the header text */
.header {
  font-family: var(--font-inter);
  font-size: clamp(1.5rem, 4vw, 3rem); /* Responsive font size */
  margin-bottom: 20px;
}

/* Text container for description */
.para-text {
  font-size: clamp(0.875rem, 3vw, 1.25rem); /* Responsive font size */
  max-width: 400px;
  line-height: 1.6;
  margin: 0 auto;
}

/* Section 1: Cat image */
.catimg-container {
  position: relative;
  z-index: 1;
  width: 66vw; /* 2/3 of the viewport width */
  height: auto;
}

.catimg {
  width: 100%;
  height: auto;
}

/* Text on the right side of the cat image */
.text-container {
  position: relative;
  flex: 1;
  padding-top: 20%;
  max-width: 400px;
  margin-left: 20px;
  font-family: var(--font-inter);
}

/* Section 1 Cards */
.section1-cards {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px; /* Small gap between the cards */
  padding: 20px;
  z-index: 2; /* Keep above the cat image */
  margin-top: 100px; /* Add vertical distance */
}

/* Wordcard Styles */
.wordcard {
  flex: 1;
  max-width: 30%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.wordcard:hover {
  transform: scale(1.05);
}

/* Timeline Section */
.timeline-section {
  padding: 100px 0; /* Add vertical distance */
}

/* DAP Section */
.dap-section {
  padding: 100px 0; /* Add vertical distance */
}

@media (min-width: 768px) {
  .para-text {
    font-size: clamp(0.7rem, 3.5vw, 1.1rem); /* Responsive font size */
    max-width: 450px;
  }
  .header {
    font-size: clamp(2rem, 4.5vw, 3.5rem); /* Responsive font size */
  }
  .page-container {
    padding: 2rem;
  }
  .section1-cards {
    margin-top: 120px; /* Increase margin for medium screens */
  }
}

@media (min-width: 1024px) {
  .para-text {
    font-size: clamp(0.8rem, 4vw, 1.2rem); /* Responsive font size */
    max-width: 500px;
  }
  .header {
    font-size: clamp(2.5rem, 5vw, 4rem); /* Responsive font size */
  }
  .page-container {
    padding: 3rem;
  }
  .section1-cards {
    margin-top: 140px; /* Increase margin for large screens */
  }
}

@media (max-width: 767px) {
  .para-text {
    font-size: clamp(0.75rem, 3vw, 1rem); /* Responsive font size */
  }
  .text-container{
    padding-top: 10%;
  }
  .section1-cards{
    margin-top: 50px; /* Reduce margin for small screens */
  }
}
@media (max-width: 576px) {
  .para-text {
    font-size: clamp(0.3rem, 3vw, 0.75rem); /* Responsive font size */
  }
  .text-container{
    padding-top: 5%;
  }
}